<div class="gost_section">
  <p><%= f.hidden_field :index %></p>

  <p>
    <%= raw "<h#{depth} class='section_title'>#{f.object.title}
    <a href='#' class='section_edit_link'>#{image_tag('edit.png')}</a></h#{depth}>" %>
    <br>
    <%= f.text_field :title, size: 64, style: "display: none" %>
  </p>

<div class="gost_section_contents">


<% if f.object.helper.nil? %>
<%= f.hidden_field :description %>
<p>
  <%= f.text_area :text, cols: '128', rows: '15', class: 'jsToolBar' %>
</p>
<% else %>
      <%= render partial: "gost_helpers/#{f.object.helper.name}_settings", locals: {settings: f.object.helper.settings} %>
<% end %>
  <div class="gost_section_attachments">
    <%= link_to_attachments f.object %>
    <label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %>
  </div>

<div class="gost_section_subsections">
<% if f.object.sections.size > 0 %>
    <%= f.fields_for :sections, f.object.sections do |subsection_form| %>
        <%= render partial: 'gost_documents/section', locals: {f: subsection_form, depth: depth+1} %>
    <% end %>
<% end %>
</div>
</div>

  <% if defined? f.object.tips %>
      <div class="gost_section_tips"><%= f.object.tips %></div>
  <% else %>
      <div class="gost_section_tips">tips here</div>
  <% end %>

  <style>
    .gost_section {clear: both;}
    .gost_section_contents {float: left; width: 60%;}
    .gost_section_tips {float: left; width: 40%;}
  </style>
</div>