<div>
<%= form_for @document, url: {action: 'update'} do |f| %>

      <p>
        <%= f.text_field :title, size: 64 %>
      </p>
      <p>
        Код вида документа: <%= f.text_field :document_code, size: 2%>
      </p>

      <p>
        Генерировать аннотацию <%= f.check_box :has_annotation %>
      </p>

      <p>
        Лист регистрации изменений <%= f.check_box :has_changeslist %>
      </p>

      <p>
        Краткое описание документа
      </p>
      <p>
        <%= f.text_area :description, cols: '64', rows: '5' %>
      </p>


      <% @document.sections.each do |section|%>
          <%= f.fields_for :sections, section do |section_form| %>
              <% # render partial: 'sections/section', locals: {f: section_form, depth: 1} %>
          <% end %>
      <% end %>

    <div style="clear: left;">
      <%= f.submit %>
    </div>

<% end %>
</div>

<% content_for :sidebar do %>
    <% render partial: 'gost_plugin/sidebar' %>
<% end %>