<div class="contextual">
  <%= link_to 'Создать раздел', new_project_gost_document_section_path(@project, @document), remote: true, class: 'icon icon-add' %>
  <%= link_to 'Редактировать параметры документа',  edit_project_gost_document_path(@project, @document), class: 'icon icon-edit' %>
  <%= link_to 'Удалить', [@project, @document], method: 'delete', data: {confirm: 'sure?'}, class: 'icon icon-del' %>
</div>

<h1><%= @document.title %></h1>
<%= @document.description %>

<% @document.sections.each_with_index  do |section, index| %>
    <%= render partial: 'show_section', locals: {section: section, theindex: "#{index+1}.", level: 2} %>
<% end %>

<% content_for :sidebar do %>
    <% render partial: 'gost_plugin/sidebar' %>
<% end %>