<h3>Документация ГОСТ</h3>
<ul>
  <li>
    <%= link_to 'Документы', project_gost_documents_path %>
    <% if @project.gost_documents.any? %>
    <ul>
      <% @project.gost_documents.each do |document| %>
        <li> - <%= link_to document.title, [@project, document] %></li>
      <% end %>
    </ul>
    <% end %>
  </li>
  <li>
    <%= link_to 'Информация о проекте', project_gost_info_path %>
  </li>
  <li>
    <%= link_to 'Текстовые шаблоны', project_macros_path %>
  </li>
  <li>
    <%= link_to 'Библиография', project_bibliography_index_path %>
  </li>
</ul>