<h3 class="title">Добавить подписанта</h3>

<%= form_for [@project, @signer], remote: true do |f| %>

 <p>
      <%= f.label :position %>
      <%= f.text_area :position %>
    </p>
<p>
    <%= f.label :name %>
    <%= f.text_field :name %>
</p>


<%= submit_tag l(:button_create), :name => nil %>
<%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>

<% end %>