<%= form_for [@project, @document, @section], remote: true do |f| %>
    <% unless @parent.class == GostDocument %>
      <%= f.hidden_field :parent_id %>
    <% end %>

    <%= f.hidden_field :index %>
    <%= f.label :title %>
    <%= f.text_field :title, style: 'width: 250px' %>
    <% if @section.parent.class == GostDocument %>
        <p>Приложение <%= f.check_box :is_appendix %></p>
    <% end %>
    <%= f.submit 'Создать' %>
<% end %>