<div class="gost_section">

  <%= f.hidden_field :index %>
  <% if f.object.parent.class == GostDocument %>
      <%= f.text_area :description %>
  <% end %>

  <div>
    <%= raw "<h#{depth} class='section_title'>#{f.object.title}</h#{depth}>" %>
    <%= f.text_field :title, size: 64, style: "display: none" %>
  </div>

  <div class="gost_section_contents">

<p>
  <%= f.text_area :text, cols: '100', rows: '15', class: 'jsToolBar' %>
</p>
<% unless f.object.helper.nil?  %>
      <%= render partial: "gost_helpers/#{f.object.helper.name}_settings", locals: {settings: f.object.helper.settings} %>
<% end %>
  <div class="gost_section_attachments">
    <%= link_to_attachments f.object %>
    <label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %>
  </div>



<% if f.object.sections.any? %>
    <div class="gost_section_subsections">
    <%= f.fields_for :sections, f.object.sections do |subsection_form| %>
        <%= render partial: 'sections/section', locals: {f: subsection_form, depth: depth+1} %>
    <% end %>
    </div>
<% end %>

</div>

  <div class="gost_section_tips">
  <% if defined? f.object.tips %>
      <%= f.object.tips %>
  <% else %>
      tips here
  <% end %>
  </div>

  <style>
    /*.gost_section_contents {float: left; width: 40%;}
    .gost_section_tips {float: left; width: 40%;}*/
  </style>
</div>