<h3>Информация о проекте</h3>

<%= form_for @info, url: project_gost_info_path, method: :put do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :organization %><br>
      <%= f.text_area :organization %>
    </p>

    <p>
      <%= f.label :organization_unit %><br>
      <%= f.text_area :organization_unit %>
    </p>


    <p>
      <%= f.label :project_type %><br>
      <%#f.select :project_type %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :country_code %><br>
      <%= f.text_field :country_code %>
    </p>

    <p>
      <%= f.label :organization_code %><br>
      <%= f.text_field :organization_code %>
    </p>

    <p>
      <%= f.label :okp_code %><br>
      <%= f.text_field :okp_code %>
    </p>

Подписывающие лица:  <%= link_to(image_tag('add.png', :style => 'vertical-align: middle;'),
                                    new_project_signer_path(@project),
                                    :remote => true,
                                    :method => 'get',
                                    :title => l(:label_signer_new),
                                    :tabindex => 200) %>


<p>
Согласовано: <%= select_tag :agreed_id, options_for_select(@info.signers.collect {|c| [c.name, c.id]},
                           @info.signers.agreed.nil? ? 0 : @info.signers.agreed.id), :include_blank => true %>
Утверждаю: <%= select_tag :approved_id, options_for_select(@info.signers.collect {|c| [c.name, c.id]},
                           @info.signers.approved.nil? ? 0 : @info.signers.approved.id), :include_blank => true %>
Исполнитель: <%= select_tag :performer_id, options_for_select(@info.signers.collect {|c| [c.name, c.id]},
                           @info.signers.performer.nil? ? 0 : @info.signers.performer.id), :include_blank => true %>
</p>



    <%= f.submit %>
<% end %>

<% content_for :sidebar do %>
    <% render partial: 'gost_plugin/sidebar' %>
<% end %>